.user-thumbnail, .smaller {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  vertical-align: middle; }

.smaller {
  width: 35px;
  height: 35px; }

a {
  cursor: pointer; }

.questions-text {
  margin-top: -18px !important; }

.posts, .stackoverflow {
  float: left;
  width: 65%;
  margin: 0 0 20px 0;
  padding: 20px;
  background-color: #f5f5f5; }

.stackoverflow {
  padding: 5px;
  margin: 0 0 3px 0; }

.sidebar-me {
  margin-right: 80px !important; }

.pipe {
  border-right: 1px dotted black; }

.stackoverflow li a {
  color: #285f8f !important; }

#order-by {
  color: black !important; }

a:active {
  column-rule: #c7ddef; }

.back-button {
  margin-left: 3px; }
  .back-button a:hover {
    color: black; }

.sidebar {
  font-size: 120%; }
