$width-thumb: 45px;
$height-thumb: 45px;
$diff: 10px;
$answer-color: #337ab7;

$a-c-dark: darken( $answer-color, 10% );
$a-c-light: lighten( $answer-color, 40% );

.user-thumbnail {
  border-radius: 50%;
  width: $width-thumb;
  height: $height-thumb;
  vertical-align: middle;

} 

.smaller {
  @extend .user-thumbnail;
  width: $width-thumb - $diff;
  height: $height-thumb - $diff;

}

a {
  cursor: pointer;
}

.questions-text {
  margin-top: -18px !important;
}

.posts {
  float: left;
  width: 65%;
  margin: 0 0 20px 0;
  padding: 20px;
  background-color: #f5f5f5;
}

.stackoverflow {
  @extend .posts;
  padding: 5px;
  margin: 0 0 3px 0;
}


.sidebar-me {
  margin-right: 80px !important;
}

.pipe {
  border-right: 1px dotted black;
}

.stackoverflow li a {
  color: $a-c-dark !important;
  // font-weight: bold;
}

#order-by {
  color: black !important;
  // text-decoration: underline;
}
a:active {
  column-rule: $a-c-light;
}

.back-button {
  margin-left: 3px;

  a:hover {
    color: black;
  }
}

.sidebar {
  font-size: 120%;
}

