$width-thumb: 45px;
$height-thumb: 45px;

$diff: 10px;

.user-thumbnail {
  border-radius: 50%;
  width: $width-thumb;
  height: $height-thumb;
  vertical-align: middle;

} 

.smaller {
  @extend .user-thumbnail;
  width: $width-thumb - $diff;
  height: $height-thumb - $diff;

}


a {
  cursor: pointer;
}

.questions-text {
  margin-top: -18px !important;
}