// $variable-color: linen;
// $var2: teal;

// body {
//   background-color: $variable-color;

//   a {
//     color: $var2;
//   }
// }

.user-thumbnail {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  vertical-align: middle;
}

a {
  cursor: pointer;
}

.questions-text {
  margin-top: -18px !important;
}