<div ng-include="'app/header.html'"></div>

<div id="comments-container">

  <button type="submit">
    <a ui-sref="posts">Go Back</a>
  </button>

  <div class="search comments-search">
    <input ng-model="searchFor" placeholder="Search"/>
  </div>

  <div class="comments-post">
    <span class="post-forum"> {{ post.forum }} </span>
    <h2 ng-bind="post.title"></h2>
    <p ng-bind="post.body"></p>

    <p class="info">
      <span ng-bind="post.author"></span> - <img class="user-thumbnail" ng-src="{{post.picture}}" /> -
      {{ TimeService.relativeDate(post.created) }}
      <span class="num-comments"> {{ comments.length }} Comment {{ + comments.length !== 1 ? 's' : '' }} </span>
    </p>

    <div ng-if="theUser === post.author">
      <a ui-sref="edit-post({ post: post })">
        <span class="edit-delete">EDIT<span>
        </a> /
        <span ng-click="deletePost(post._id)" class="edit-delete">DELETE</span>
    </div>
    <br/><br/>
  </div>

  <div>
      <div class="comment" ng-repeat="comment in comments | orderBy: 'comment.votes.length' | filter:searchFor">
      <div btf-markdown="comment.body"></div>

        <p class="info"><span ng-bind="comment.author"></span> -
          {{ TimeService.relativeDate(comment.created) }}
        </p>

        <div ng-if="theUser === comment.author">
          <span class="edit-delete" ng-click="deleteComment(post._id, comment._id)">DELETE</span>
        </div>
        
        <div>
          <a ng-click="upVote(post._id, comment._id, $root.user)"><i class="fa fa-thumbs-o-up"></i> Upthumb</a>
          <span> | Thumbs: {{ comment.votes.length }} </span>
        </div>
        
        <!-- <div class='vote-box'>
          <div class='votes'> 
            Hard-coded: {{votes}} 
          </div>
          <div> 
            From DB: {{ comment.votes }}
          </div>
          <div class='vote'>
            <div class='up-vote' ng-click='upVote(post._id, comment._id)'>
              Up Vote
            </div>
          </div>  
        </div> -->
        
        <!-- End of ng-repeat -->
      </div>
  </div>

  <div class="comment-form">
    <form name="addCommentForm"
          ng-submit="submit()">
        <textarea ng-model="newCommentBody"
                  class="boxsizingBorder"
                  required
                  placeholder="The floor is yours."></textarea>
        <button type="submit"
                ng-disabled="addCommentForm.$invalid"
                ng-Class="(newCommentBody) ? 'buttonEnabled' : 'buttonDisabled'">
                Post a Comment </button>
    </form>
  </div>

</div>
